/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// @import "trestle/custom/my_custom_css";

$white-color: #cccccc;
$bg-background: #595f63;

.navbar {
  background-color: $bg-background !important;
  a {
    color: $white-color !important;
    text-decoration: none;
  }
}

form .form-group {
  input[type="text"] {
    width: 100%;
  }
  input[type="password"] {
    width: 100%;
  }
  input[type="email"] {
    width: 100%;
  }
  input[type="number"] {
    width: 100%;
  }
  input[type="url"] {
    width: 100%;
  }
  input[type="tel"] {
    width: 100%;
  }
  input[type="date"] {
    width: 100%;
  }
  input[type="time"] {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
}
